.box{
    background: #015175 !important;
    padding: 15px 0px 20px 15px;
    color: white;
}
.border-top{ 
    border-top: 1px solid silver;
    background-color: white;
    margin: 10px 0px;
}
.center{
    text-align: -moz-center;
    text-align: -webkit-center; 
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-primary {
    color: #fff;
    background-color: #015175;
    border-color: #015175;
    box-shadow: 0 1px 1px rgba(0,0,0,.075);
}

.btn {
    margin-top: 10%;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    padding: .375rem .55rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}