<div class="box center">
  <ion-card class="box-login">
    <ion-card-header style="bottom: 15px;">      
      <ion-card-title>
        <ion-img src="/assets/supra_logo.png" style="width: 250px;"></ion-img>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="box-input">
      <ion-item>
        <ion-icon name="at"></ion-icon><br>
        <ion-input placeholder="Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="lock"></ion-icon><br>
        <ion-input placeholder="Senha"></ion-input>
      </ion-item>
      
      <button routerLink="lista_contratos" routerDirection="root" class="btn btn-block btn-primary">Entrar</button>
      <span class="forgot-password"><a>Esqueci minha senha!</a></span>
    </ion-card-content>
  </ion-card>
</div>
<ion-footer class="border-top center">
  <ion-img src="/assets/trio_logos.png" style="width: 250px;"></ion-img>
</ion-footer>