<ion-app style="background: linear-gradient(0deg, white 50%, #015175 50%) !important;">
  <div class="box center" >
    <ion-card class="box-login">
      <ion-card-header style="bottom: 15px;">      
        <ion-card-title>
          <ion-img src="/assets/supra_logo.png" style="width: 250px;"></ion-img>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content class="box-input">
        <ion-item>
          <ion-label>Email</ion-label><br>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Senha</ion-label>
          <ion-input></ion-input>
        </ion-item>
         
        <button class="btn btn-block btn-primary">Entrar</button>
        <small>Ainda não tem acesso? <a> Registre-se.</a></small>

      </ion-card-content>
    </ion-card>
  </div>
  <ion-footer class="border-top center">
    <ion-img src="/assets/trio_logos.png" style="width: 250px;"></ion-img>
  </ion-footer>
</ion-app>