

  <div class="box">
    <ion-searchbar animated placeholder="Pesquisar"></ion-searchbar>
  </div>

  <ion-content>
    <ion-card>
      <ion-item>
        <ion-label><b>00 00831/2013</b></ion-label>
        <ion-button fill="outline" slot="end" class="bg-green"><ion-icon name="cloud-done"></ion-icon></ion-button>
        <ion-button fill="outline" slot="end" class="medium"><ion-icon name="more"></ion-icon></ion-button>
      </ion-item>      
      <ion-card-content>
          BR-101/AL <br>
          Consórsio Dynatest/Engemap
        </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-label><b>00 00564/2013</b></ion-label>
        <ion-button fill="outline" slot="end" color="medium"><ion-icon name="cloud-download"></ion-icon></ion-button>
        <ion-button fill="outline" slot="end" class="medium"><ion-icon name="more"></ion-icon></ion-button>
      </ion-item>        
      <ion-card-content>
        BR-101/AL <br>
        Consórsio Ethos
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-label><b>00 01016/2013</b></ion-label>
        <ion-button fill="outline" slot="end" color="medium"><ion-icon name="cloud-download"></ion-icon></ion-button>
        <ion-button fill="outline" slot="end" class="medium"><ion-icon name="more"></ion-icon></ion-button>
      </ion-item>          
      <ion-card-content>
          BR-101/AL <br>
          Accenture Brasil
        </ion-card-content>
    </ion-card>
  </ion-content>
