.center{
    text-align: -moz-center;
    text-align: -webkit-center; 
}

.box{  
    background: #015175 !important;
}

ion-searchbar{
    background-color: #015175 !important;
    color:silver;
}

ion-card-content{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

ion-card{
    margin-top: 10px;
    margin-bottom: 10px;
}